recursive-include plip *.py
recursive-include plip *.pyx
recursive-include plip *.pxd
include *.txt
include *.md
include LICENSE.txt
prune plip/test
prune test
prune docs
prune build
prune dist
include plip/all_atom/visualization/templates/*.html
include plip/all_atom/visualization/static/css/*.css
include plip/all_atom/visualization/static/js/*.js