recursive-include fplip *.py
recursive-include fplip *.pyx
recursive-include fplip *.pxd
include *.txt
include *.md
include LICENSE.txt
prune fplip/test
prune test
prune docs
prune build
prune dist
include fplip/all_atom/visualization/templates/*.html
include fplip/all_atom/visualization/static/css/*.css
include fplip/all_atom/visualization/static/js/*.js